{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/fork_simulacion.css' %}">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="icono-header" src="{% static 'img/atlas.png' %}">
        <a class="navbar-brand text-white" href="{% url 'landing' %}">SimulAgents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir Navegador de rutas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crear_simulacion' %}">Crear nueva simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'ver_simulacion' %}">Visualizar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'continuar_simulacion' %}">Continuar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'guia_usuario' %}">Guía de Usuario</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container py-5">
    <h1>Continuar una simulación existente</h1>
    
    <section class="lista-simulaciones">
        <!-- Esto lo dejo comentado por si en el futuro necesitamos un spinner mientras se cargan las simulaciones -->
        <!-- <div class="d-flex justify-content-center align-items-center my-3">
            <div class="spinner-border" role="status"></div>
            <span class="visually-hidden">Cargando simulaciones...</span>
        </div>           -->
        
        <div class="simulacion mb-3">
            {% for simulacion in simulaciones %}
                <div class="row flex-column flex-md-row align-items-center mb-3 contenedor-simulacion">
                    <div class="col-4 col-xl-3 simulacion-imagen">
                        <img src="{% static 'assets/the_ville/visuals/the_ville collision.png' %}" alt="Mapa de la Simulación">
                        <figcaption class="text-center">The ville</figcaption>
                    </div>
                    <div class="col-8 simulacion-detalles">
                        <!-- TODO: pasar estas rutas estáticas a dinámicas cuando haya varias simulaciones -->
                        <h3 class="fw-bold">{{ simulacion.sim_code }}</h3>
                        <form method="POST" action="/simulacion/" class="row">
                            <div class="col-sm-8">
                                <input type="hidden" name="nueva" value="no">
                                <input type="hidden" name="forked" value="no">
                                <input type="hidden" name="sim_code" value="{{ simulacion.sim_code }}">
                                <button type="submit" class="btn btn-primary view-simulation-btn boton-cont-sim" data-simulation-id="idEjemplo">Continuar simulación</button>
                            </div>
                            {% csrf_token %}
                        </form>
                        <form method="POST" action="/simulacion/" class="select-wrapper info-fork-sim row mt-4 mb-1">
                            <input type="hidden" name="nueva" value="no">
                            <input type="hidden" name="forked" value="si">
                            <input type="hidden" name="fork_sim_code" value="{{ simulacion.sim_code }}">
                            <div class="col-sm-5">
                                <label for="step-select">Forkear simulación desde el step:</label>
                                <input type="number" class="form-control" name="step-select" id="step-select" min="0" max={{simulacion.step}} value="{{simulacion.step}}" placeholder="máximo {{simulacion.step}}" required>
                            </div>
                            <div class="col-sm-5">
                                <label for="sim_code">Nombre de la simulación forkeada:</label>
                                <input type="text" class="form-control" name="sim_code" id="sim_code" required>
                            </div>
                            <button type="submit" class="btn btn-primary view-simulation-btn boton-fork-sim" data-simulation-id="idEjemplo">Ir</button>
                            {% csrf_token %}
                        </form>
                        <div class="fecha info-cont-sim"><b>Tiempo creación:</b> {{ simulacion.start_time }}</div>
                        <div class="tiempo_actual info-cont-sim"><b>Tiempo actual:</b> {{ simulacion.curr_time }}</div>
                        <div class="duracion info-cont-sim"><b>Duracion:</b> {{ simulacion.duration }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}