{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/guia_usuario.css' %}">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="icono-header" src="{% static 'img/atlas.png' %}">
        <a class="navbar-brand text-white" href="{% url 'landing' %}">SimulAgents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir Navegador de rutas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crear_simulacion' %}">Crear nueva simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'ver_simulacion' %}">Visualizar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'continuar_simulacion' %}">Continuar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'guia_usuario' %}">Guía de Usuario</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container py-5">
    <h1>Guía de Usuario</h1>

    <section id="crear-simulacion">
        <h2>Crear una Simulación</h2>
        <p>
            Esta página sirve, como su propio nombre indica, para crear una nueva simulación entre agentes. Primero
            se debe seleccionar el <b>número de agentes</b> que se quieren incluir en la simulación, y después se pueden
            configurar las características de cada agente.
        </p>
        <p>
            Entre las características de los personajes, tenemos las siguientes:
        </p>
        <ul>
            <li><b>Nombre del agente:</b> Donde indicaremos el nombre que queremos que tenga cada uno de los personajes de la simulación</li>
            <li><b>Personalidad innata:</b> Se podrá seleccionar una de la lista de personalidades innatas que hay disponibles</li>
            <li><b>Estilo de vida:</b> Breve texto en el que se indica como se suele comportar el agente en el día a día en cuanto a sus relaciones sociales</li>
            <li><b>Conocimiento aprendido:</b> Todo lo que el agente conoce al iniciar la simulación y es importante para la misma, es como la <i>memoria</i> del agente</li>
            <li><b>Estado actual:</b> Situación en la que se encuentra el agente al comenzar la simulación, indicando los siguientes pasos a tomar</li>
        </ul>
    </section>

    <section id="visualizar-simulacion">
        <h2>Visualizar una Simulación</h2>
        <p>
            En este apartado se podrán visualizar las simulaciones ejecutadas previamente. En este tipo de simulaciones
            no se podrá interactuar con el entorno, solamente se podrán visualizar las acciones que los agentes han realizado
            en esta simulación.
        </p>
        <p>
            Podremos ver la lista de las simulaciones que actualmente están disponibles para visualizar. Antes de visualizar una 
            simulación, se podrá seleccionar el step desde el que se desea comenzar a ver la simulación, así como la velocidad 
            de reproducción de la repetición.
        </p>
    </section>

    <section id="continuar-simulacion">
        <h2>Continuar una Simulación</h2>
        <p>
            Es una página similar a la de visualizar simulación, ya que contiene una lista de simulaciones que han sido comenzadas
            previamente y que se pueden continuar. La diferencia es que en esta página se redirige a la página de ejecución de la
            simulación, en la que se puede continuar con la misma.
        </p>
        <p>
            Como se puede apreciar, en esta página hay 2 botones: uno para continuar con la simulación y otro para forkear la simulación
            desde un punto concreto.
        </p>
        <h4>Continuar una simulación</h4>
        <p>
            En el caso de continuar simulación, se continuará la simulación desde el punto en que se dejó, y al 
            guardarla, se hará con el mismo nombre que tenía la simulación original.
        </p>
        <h4>Forkear una simulación</h4>
        <p>
            A la hora de forkear una simulación, el usuario podrá elegir el step desde el que quiere continuar la simulación,
            así como el nombre de esta nueva simulación. De esta forma, se podrá continuar la simulación desde un punto concreto
            y guardarla con un nombre diferente para así poder comparar los resultados de ambas simulaciones.
        </p>
    </section>

    <section id="ejecucion-simulacion">
        <h2>Ejecución de la Simulación</h2>
        <p>
            En esta página se podrá ejecutar la simulación que se ha seleccionado previamente. Primero de todo, habrá un botón de play o pause. Por defecto, el botón de play estará activado, lo que
            indica que la simulación se está ejecutando por detrás, lo cual desactivará los botones de salir, chatear y susurrar,
            solamente se podrá correr la simulación y mover la cámara alrededor del mapa. Por otro lado, si pausamos la simulación, 
            no se podrá correr la misma ni tampoco mover la cámara alrededor del mapa, pero sí se podrán pulsar todos los demás botones, 
            los cuales veremos a continuación qué hacen:
        </p>

        <h4>Guardar para ver</h4>
        <p>
            Al guardar la simulación para verla, se guardará la repetición de la simulación (por lo que podrá ser accedida desde la página 
            de visualizar simulación) y también para poder continuarla o forkearla en el futuro (podrá ser accedida desde la página de continuar simulación).
        </p>
        <p>Además, al presionar este botón, se redirigirá directamente a la página de visualizar simulación</p>
        <h4>Guardar y salir</h4>
        <p>
            Cuando se guarda y se sale, la simulación solamente se guarda para poder continuarla o forkearla en el futuro. Es decir, Esta 
            simulación solamente estará accesible desde la página de continuar simulación, no se podrá ver la repetición hasta que no se guarde para ver.
        </p>
        <p>Al presionar este botón, el usuario será redirigido a la página de continuar simulación</p>
        <h4>Salir sin guardar</h4>
        <p>
            Si el usuario no quiere guardar la simulación que está ejecutando, presionará este botón, el cual eliminará la simulación que se está 
            ejecutando y redirigirá al usuario a la página de landing
        </p>
        <h4>Chatear</h4>
        <p>
            El botón de chat está disponible para cada uno de los personajes de la simulación, en la parte de abajo de la página, y al presionarlo
            se abrirá una pantalla con la que se podrá chatear con el agente en ese instante. Es decir, podremos interactuar con el agente y él nos
            responderá con las memorias e información que tenga en ese momento, en ese step preciso.
        </p>
        <p>
            Esto es interesante para comparar los chats a medida que va avanzando la simulación. Para así comparar cómo las respuestas de un personaje
            pueden ir variando respecto avanza el tiempo.
        </p>
        <h4>Susurrar</h4>
        <p>
            Similar a cómo ocurre con el chat, al pulsar este botón, que también está situado en la sección de personajes, al lado de cada personaje, 
            el usuario podrá "susurar" algo al agente en particular. Cuando un usuario susurra algo a un personaje, es como si este personaje recibiese
            una información divina, una voz en su cabeza, de modo que hará caso a lo que se le diga mediante este método.
        </p>
        <h4>Run</h4>
        <p>
            Este botón va acompañado e un input de tipo number, en el que se seleccionan el número de steps que se quieren ejecutar llamando al backend.
            Solamente se podrá pulsar cuando la simulación se esté ejecutando en el fondo (es decir, cuando esté el botón de play activado).
        </p>
    </section>

    <section id="ejemplos-de-uso">
        <h2>Ejemplos de Uso</h2>
    </section>
</main>

{% endblock content %}