{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/ver_simulacion.css' %}">

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="icono-header" src="{% static 'img/atlas.png' %}">
        <a class="navbar-brand text-white" href="{% url 'landing' %}">SimulAgents</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Abrir Navegador de rutas">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'crear_simulacion' %}">Crear nueva simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'ver_simulacion' %}">Visualizar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'continuar_simulacion' %}">Continuar simulación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'guia_usuario' %}">Guía de Usuario</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container py-5">
    <h1>Visualizar Simulaciones</h1>
    
    <section class="lista-simulaciones">
        <!-- ! Esto lo dejo comentado por si en el futuro necesitamos un spinner mientras se cargan las simulaciones -->
        <!-- <div class="d-flex justify-content-center align-items-center my-3">
            <div class="spinner-border" role="status"></div>
            <span class="visually-hidden">Cargando simulaciones...</span>
        </div>           -->
        
        <div class="simulacion mb-3">
            {% for demo in demos %}
            <div class="row mb-3 contenedor-simulacion" id="{{ demo.sim_code }}.id">
                <div class="col-md-4 col-xl-3 simulacion-imagen">
                    <img src="{% static 'assets/the_ville/visuals/the_ville collision.png' %}" alt="Mapa de la Simulación">
                    <figcaption class="text-center">The ville</figcaption>
                </div>
                <div class="col-md-8 simulacion-detalles">
                    <!-- TODO: pasar estas rutas estáticas a dinámicas cuando haya varias simulaciones, así como el id de la simulación y demás datos -->
                    <h3 class="fw-bold">{{ demo.sim_code }}</h3>
                    <p>Hecha a partir de: <a href="{% url 'continuar_simulacion' %}">{{demo.fork_sim_code}}</a></p>
                    <form method="POST" action="/comenzar-demo-simulacion/" class="select-wrapper info-ver-sim row">
                        <input type="hidden" name="sim_code" value="{{ demo.sim_code }}">
                        <div class="col-sm-6">
                            <label for="step-select">Empezar la demo en el Step:</label>
                            <input type="number" class="form-control" name="step-select" id="step-select" min="0" max={{demo.max_step}} placeholder="máximo {{demo.max_step}}" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="speed-select" class="col-sm-6">Velocidad:</label>
                            <select class="form-select" name="speed-select">
                                <option value="1">1 (Lento)</option>
                                <option value="2">2 (Lento-Medio)</option>
                                <option value="3">3 (Medio)</option>
                                <option value="4">4 (Medio-rápido)</option>
                                <option value="5">5 (Rápido)</option>
                                <option value="6">6 (Más Rápido)</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary view-simulation-btn boton-ver-sim" data-simulation-id="idEjemplo">Ver simulación</button>
                        {% csrf_token %}
                    </form>
                    <div class="fecha info-ver-sim"><b>Tiempo creación:</b> {{ demo.start_time }}</div>
                    <div class="tiempo_actual info-cont-sim"><b>Tiempo actual:</b> {{ demo.curr_time }}</div>
                    <div class="duracion info-ver-sim"><b>Duración:</b> {{ demo.duration }}</div>
                    <p class="contexto info-ver-sim"><b>Resumen:</b> {{demo.summary}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}