/* Estilos de la página simulator_home */

.disabled {
    color: lightgray;
    opacity: 0.5;  /* Hace que el botón esté más transparente y se vea menos */
    cursor: not-allowed;  /* Cambia el estilo del cursor */
}

a {
    margin: .5rem;
    text-decoration: none;
    color: white;
    font-style: italic;
}

a:hover {
    color: white;
}