/* Estilo de los botones */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;  
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .btn-ejecutar-simulacion {
    background: linear-gradient(to left, #007bff, #00c4cc);
    color: white;
  }
  
  .btn-ver-simulacion {
    background: linear-gradient(to left, #007bff, #00c4cc);
    color: white;
  }

  header {
    padding: 1rem; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 800;
    background: linear-gradient(to left, #007bff, #00c4cc);
  }
  
  
  